.notas-box {
    background-color: #e4e4e4;
    width: 24%; /* Ajuste conforme necessário */
    min-width: 100px; /* Responsividade */
    height: auto;
    padding: 0px 10px;
    color: #000;
    border-radius: 8px; /* Bordas menores */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06); /* Sombra mais sutil */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px; /* Espaço reduzido entre os itens do contêiner */
}

.notas-box h3{
    margin-bottom: -8px;
}

.notas-box label{
    margin-bottom: -5px;
}

.lista-bimestres {
    width: 60%; /* Ajusta a largura do select */
    color: black;
    padding: 0px; /* Padding ainda menor */
    border-radius: 4px;
    margin-bottom: 10px; /* Menor espaço inferior */
}

.inputs-notas {
    display: flex;
    gap: 8px; /* Reduz o espaço entre os inputs */
    width: 100%; /* Preencher a largura do contêiner */
    justify-content: center;
}


.nota-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 4px; /* Espaço reduzido entre label e input */
}

.nota-item label {
    font-size: 12px; /* Texto ainda menor */
    margin-bottom: 2px; /* Quase sem espaçamento inferior */
}

.nota-item input {
    width: 90%; /* Inputs menores */
    padding: 3px; /* Padding reduzido */
    font-size: 12px; /* Texto interno menor */
    border-radius: 4px; /* Bordas menores */
    border: 1px solid #ccc;
}

.botao {
    font-size: 14px;
    width: 100%;
    height: 12%;
    padding: 10px 0; 
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: rgb(43, 43, 43);
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

