.form-container {
  width: 400px;
  margin: 50px auto;
  padding: 40px 30px;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-form {
  color: #4a4a4a;
  font-size: 1.1rem;
  font-family: "Afacad", sans-serif;
  margin-bottom: 0.5rem;
}

.input[type="text"],
.input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  background-color: rgb(226, 226, 226);
  color: black;
  box-sizing: border-box;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-contacts-auto-fill-button {
  display: none !important;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {
  .form-container {
      width: 90%;
      padding: 20px;
  }
}