@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Afacad:ital,wght@0,400..700;1,400..700&family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "ADLaM Display", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 60vw;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.form-group label {
    color: rgb(73, 73, 73);
    font-size: 18px;
    font-family: "Afacad", serif;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"] {
    background-color: rgb(226, 226, 226);
    color: black;
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.titulo {
    grid-column: 1 / -1; /* O título ocupa todas as colunas */
    margin-bottom: 20px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.div-botao {
    grid-column: 1 / -1; /* O botão ocupa todas as colunas */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #218AD3;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}

.error {
    color: rgb(255, 0, 0);
    font-size: 12px;
}

.notas-box{
    background-color: #e4e4e4;
    width: 15%;
    height: 100px;
    color: #000;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notas{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.notas-box label{
    margin-bottom: 20px;
    font-size: 16px;
    color: #555555;
    font-family: "Afacad", serif;
}

.lista-bimestres{
    background-color: #e4e4e4;
    width: 40%;
    border-radius: 10px;
    justify-content: center;
}
