@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Afacad:ital,wght@0,400..700;1,400..700&family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "ADLaM Display", serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    width: 50vw;
    height: 80vh;
    margin: 0 auto; 
    padding: 20px 50px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    flex: 1 1 calc(33.33% - 16px); 
    min-width: 200px; 
    box-sizing: border-box; 
}

.form-group.small {
    flex: 1 1 15px;
    min-width: 50px; 
    margin-right: 5px;
}

.div-botao {
    margin-top: 42%;
}

button{
    background-color: #218AD3;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    width: 400px;
}

div label {
    color: rgb(73, 73, 73);
    font-size: 19px;
    display: block; 
    justify-content: start;
    font-family: "Afacad", serif;
}

input[type="text"],
input[type="email"] {
    background-color: rgb(226, 226, 226);
    color: black;
    border: none;
    border-radius: 6px;
    width: 75%; 
    padding: 8px; 
}

.error{
    color: rgb(0, 68, 255);
}

.titulo{
    display: flex;
    margin-bottom: -20px;
    color: black;
}

.header{
    margin-top: -8%;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
}




